:root {
  --icon-size: 50px;
  --label0: #666666;
  --label1: #b53838;
  --label2: #e4d84c;
  --label3: #a9cbc7;
  --label4: #e5bcc9;
  --label5: #a9a9ca;
  --label6: #e7c19e;
  --label7: #b3c7b3;
  --label8: #677de0;
  --label9: #4aa44c;
  --label10: #8e2c9a;
  --label11: #e8920d;
  --label12: #7f452a;
  --label13: #f46dd6;
  --label14: #3da2a5;
  --label15: #a89677;
  --label16: #1e401e;
  --labels-length: 5;
  --toolbar-length: 4;
}


/* .cGrid {
  margin-top: .5rem;
  margin-right: .25rem;
  color: var(--color-light-idle);
  width: auto;
  height: 10rem;
  display: grid;
  grid-template-columns: 10fr 1fr;
} */

/* .screenBody {
  background-color: var(--color-material-idle);
}

.screenToolbarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: solid;
  color: var(--color-material-idle);
  border-color: var(--color-material-idle);
  border-width: 1.35px 0px 0px 0px;
}
.screenToolbarBtn:last-child {
  border-width: 1.35px 0px 1.35px 0px;
}
.screenToolbarBtn:hover {
  color: var(--color-light-idle);
  background-color: var(--color-material-hover);
}


.screenToolbar {
  display: grid;
  grid-template-rows: repeat(var(--toolbar-length), 1fr);
  background-color: var(--color-bg);
  color: var(--color-material-hover);
} */
.aSelect-suffix {
  cursor: default;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: .25rem;

  display: none;
}

[class^="aSelect-suffix-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-material-idle)
  /* border: 2px solid green; */
}

.aSelect-suffix-btm {
  font-size: 1.5rem;
}


.head-B {
  /* margin: 0px .25rem; */
  /* border: 2px solid green; */
  width: auto;
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: 2fr 6fr; */
  /* grid-template-rows: 3fr 1fr; */
  /* grid-row-gap: .25rem; */
}

.head-B-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .25rem;
}

.head-B-btm {
  background-color: var(--color-material-idle);
}

.labels {
  background-color: var(--color-material-idle);
}

.labels-btn {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-material-idle);
  cursor: pointer;
}

.labels-btn:hover {
  background-color: var(--color-material-hover);
}


.head-B-suffix {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-rows: 5fr 3fr;
  grid-template-columns: 4fr 4fr;
  grid-row-gap: .25rem;
}

.head-B-suffix-top {
  /* border: 2px solid green; */
  /* display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: .25rem; */
}

.head-B-suffix-btm {
  /* border: 2px solid blue; */
  background-color: var(--color-material-idle);
}

.head-B-suffix-top-prefix {
  /* border: 2px solid red; */
  background-color: var(--color-material-idle);
}

.labelclimber-wrap {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--color-material-idle);
}

.labelclimber {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: transparent;
}

/* .labelclimber {
  border: 2px solid red;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-size: .25rem;
} */

.label-length {
  display: flex;
  padding-top: .125rem;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  cursor: default;
  user-select: none;
}

.label-lengthUp {
  font-size: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-lengthDown {
  font-size: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label-lengthDown:hover, .label-lengthUp:hover {
  background-color: var(--color-material-hover);
}


.labelclimber-preview {
  display: grid;
  grid-template-rows: repeat(var(--labels-length), 1fr);
}

.label-Mock-0 { background-color: var(--label0);}
.label-Mock-1 { background-color: var(--label1);}
.label-Mock-2 { background-color: var(--label2);}
.label-Mock-3 { background-color: var(--label3);}
.label-Mock-4 { background-color: var(--label4);}
.label-Mock-5 { background-color: var(--label5);}
.label-Mock-6 { background-color: var(--label6);}
.label-Mock-7 { background-color: var(--label7);}
.label-Mock-8 { background-color: var(--label8);}
.label-Mock-9 { background-color: var(--label9);}
.label-Mock-10 { background-color: var(--label10);}
.label-Mock-11 { background-color: var(--label11);}
.label-Mock-12 { background-color: var(--label12);}
.label-Mock-13 { background-color: var(--label13);}
.label-Mock-14 { background-color: var(--label14);}
.label-Mock-15 { background-color: var(--label15);}
.label-Mock-16 { background-color: var(--label16);}

.rig-anno {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  font-size: 1rem;
}

.head-C {
  width: auto;
  box-sizing: border-box;
  font-size: 5rem;
  overflow: hidden;
  background-color: var(--color-material-idle);
  cursor: pointer;
  /* margin-right: .25rem; */
}

.head-C:hover {
  color: var(--color-light-hover);
  background-color: var(--color-material-hover);
}

.head-C-btn {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -.625rem;
  margin-left: -3%;
}
