:root {
  --icon-size: 50px;
  --label1: #b53838;
  --label2: #4aa44c;
  --label3: #677de0;
  --color-material-idle: #2f2f2f;
  --color-material-hover: #3d3d3d;
  --color-light-idle: #b1b1b1;
  --color-light-hover: #c0c0c0;
  --color-bg: #232323;
  background-color: var(--color-bg);
}


.aGrid {
  color: var(--color-light-idle);
  width: auto;
  display: grid;
  grid-column-gap: .25rem;
  grid-template-columns: 3fr 4fr;
}

.bGrid {
  margin-top: .5rem;
  color: var(--color-light-idle);
  width: auto;
  /* height: 4rem; */
  display: grid;
  grid-column-gap: .5rem;
  grid-template-columns: 4fr 2fr;
}

.bTags {
  display: grid;
  grid-template-rows: 4fr 1.5fr;
  padding: .25rem;
  background-color: var(--color-material-idle);
}

.bTags-body {
  display: flex;
  height: 4rem;
  justify-content: center;
  /* border: 2px solid red; */
  /* align-items: flex-start; */
  flex-wrap: wrap;
  /* height: 3rem; */
  overflow-y: scroll;
}

.bTags-body::-webkit-scrollbar {
  display: none;
}

.bTags-footer {
  box-sizing: border-box;
  /* border: 2px solid red; */
  /* padding: .5rem 0rem; */
  background-color: var(--color-material-hover);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bTags-footer-data {
  margin-right: .5rem;
}

.bTags-tag {
  box-sizing: content-box;
  /* border: 2px solid blue; */
  margin: .125rem;
  padding: .25rem .5rem;
  border-radius: .25rem;
  height: 1.125rem;
  background-color: var(--color-bg);
  cursor: default;
}

.aSelect {
  /* border: 2px solid green; */
  width: auto;
  box-sizing: border-box;
  display: grid;
  grid-column-gap:         .25rem;
  grid-template-columns:  3fr 4fr;

}

[class*="-btn-idle"], [class*="-btn-active"] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

[class*="-btn-idle"] {
  background-color: var(--color-material-idle);
}

[class*="-btn-active"] {
  color: var(--color-light-hover);
  background-color: var(--color-material-hover);
}

.cursor-btn-idle, .cursor-btn-active {
  font-size: 2.75rem;
}

.aSelect-prefix:hover {
  background-color: var(--color-material-hover);
}

.aSelect-suffix {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: .25rem;
}

[class^="aSelect-suffix-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-material-idle)
  /* border: 2px solid green; */
}

.aSelect-suffix-btm {
  font-size: 1.5rem;
}


.head-B {
  margin: 0px .25rem;
  /* border: 2px solid green; */
  width: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-column-gap: .25rem;
}

.labels {
  background-color: var(--color-material-idle);
}

.labels-btn {
  font-size: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-material-idle);
  cursor: pointer;
}

.labels-btn:hover {
  background-color: var(--color-material-hover);
}

.head-B-suffix {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-rows: 4fr 3fr;
  grid-row-gap: .25rem;
}

.head-B-suffix-top {
  /* border: 2px solid green; */
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: .25rem;
}

.head-B-suffix-btm {
  /* border: 2px solid blue; */
  background-color: var(--color-material-idle);
}

.head-B-suffix-top-prefix {
  /* border: 2px solid red; */
  background-color: var(--color-material-idle);
}

.head-B-suffix-top-suffix {
  /* border: 2px solid red; */
  background-color: var(--color-material-idle);
}

.rig-anno {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  font-size: 1rem;
}

.head-C {
  width: auto;
  box-sizing: border-box;
  font-size: 5rem;
  overflow: hidden;
  background-color: var(--color-material-idle);
  cursor: pointer;
  margin-right: .25rem;
}

.head-C:hover {
  color: var(--color-light-hover);
  background-color: var(--color-material-hover);
}

.head-C-btn {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -.625rem;
  margin-left: -3%;
}
